#ffffallback-fontclass-inherit-parent {
  font-family: inherit !important;
}

#ffffallback-content-container {
  opacity:0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
}

#ffffallback-controller .ffffallback-more-values {
  margin-left: 0px;
  width: 160px;
}

#ffffallback-controller .collapsed .ffffallback-more-values {
  display: none;
}

#ffffallback-controller .expanded .ffffallback-disclosure span{
  -webkit-transform:rotate(-180deg);
  text-shadow:rgba(0,0,0,0.8) 0 1px 0;
  position:relative;
  top:6px;
}
#ffffallback-controller .ffffallback-disclosure {
  display:inline-block;
  margin-left:2px;
  height:27px;
  width:20px;
  position:relative;
  top:-7px;
  -webkit-border-radius:  3px;
  -moz-border-radius:     3px;
  border-radius:          3px;
}
#ffffallback-controller .ffffallback-disclosure:hover {
  background:#2a2a2a;
}
#ffffallback-controller .ffffallback-disclosure span{
  color: #777;
  display: inline-block;
  font-size:12px;
  position:relative;
  left:4px;
  top:7px;
  text-decoration: none;
  text-shadow:rgba(0,0,0,0.8) 0 -1px 0;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.25s;
}

#ffffallback-content-container * {
  color:rgb(255,0,255) !important;
}

body.ffffallback-hide-fallback #ffffallback-content-container {
  display: none;
}

body.ffffallback-hide-original > * {
  display: none;
}

body.ffffallback-hide-original #ffffallback-content-container {
  display: block;
  opacity: 1;
}

/* webkit scrollbar stuff from http://beautifulpixels.com/goodies/create-custom-webkit-scrollbar/ */
#ffffallback-controller {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  background:rgba(0,0,0,0.8);
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 3px;
  color:rgba(255,255,255,0.9);
  font: 13px/1em normal helvetica, arial, sans-serif !important;
  width: 220px;
  height: 100%;
  text-align:left !important;
  z-index: 9999999;
}

#ffffallback-controller * {
  font: inherit;
  margin: 0;
}

#ffffallback-controller h1 {
  color:#313131;
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( #cecece ), to( #b3b3b3 ));
  border-bottom:1px solid rgba(0,0,0,0.2);
  text-shadow:rgba(255,255,255,0.6) 0 1px 0;
  font-weight: bold;
  margin:0 !important;
  padding: 0.5em 1em;
}
#ffffallback-controller h1 abbr {
  background:url(ffffallback-logo.png) no-repeat 0 0;
  border:0;
  display:inline-block;
  height:16px;
  margin-left:-9px;
  width:116px;
  text-indent:-99999em;
}
#ffffallback-controller ul {
  padding:0;
}
#ffffallback-controller #fb-font {
  margin:0 0 0 1em;
  padding:2px;
}
#ffffallback-controller li {
  list-style-type:disc;
  margin:0 0 10px 10px;
}

#ffffallback-radios {
  background:#B3B3B3;
  border-top:1px solid rgba(255,255,255,0.2);
  margin:0px;
  padding:4px 3px 4px 4px;
  clear:both;
  overflow:hidden;
}
#ffffallback-radios label.radio-checked {
  background:#7C7C7C !important;
  background-image: none;
  color:#fff !important;
  text-shadow:rgba(0,0,0,0.5) 0 1px 0 !important;
  -moz-box-shadow:    inset 0 1px 5px rgba(0,0,0,0.65);
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.65);
  -o-box-shadow:      inset 0 1px 5px rgba(0,0,0,0.65);
  box-shadow:         inset 0 1px 5px rgba(0,0,0,0.65);
}
#ffffallback-radios label {
  background-image: -moz-linear-gradient(-90deg, #fefefe , #b7b7b7 );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( #fefefe ), to( #b7b7b7 ));
  background-image: linear-gradient(top, #fefefe, #b7b7b7);
  border: 1px solid #555;
  border-width:1px 0 1px 1px;
  color:#313131;
  float:left;
  margin:0;
  padding:4px 0px;
  text-align:center;
  text-shadow:rgba(255,255,255,0.4) 0 1px 0;
  width:68px;
  -webkit-border-top-left-radius:   3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:       3px;
  -moz-border-radius-bottomleft:    3px;
  border-top-left-radius:           3px;
  border-bottom-left-radius:        3px;
  -webkit-box-shadow: rgba(225, 225, 225, 0.4) 0px 1px 0px;
}

#ffffallback-radios label+label {
  border: 1px solid #555;
  border-width: 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#ffffallback-radios label+label+label {
  border-width:1px 1px 1px 0px;
  -webkit-border-top-right-radius:    3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright:        3px;
  -moz-border-radius-bottomright:     3px;
  border-top-right-radius:            3px;
  border-bottom-right-radius:         3px;
}
#ffffallback-radios label:active, #ffffallback-update:active {
  background-image: -moz-linear-gradient(-90deg, #b9b9b9 , #969696 );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( #b9b9b9 ), to( #969696 ));
  background-image: linear-gradient(top, #b9b9b9, #969696);
  -moz-box-shadow:    inset 0 1px 5px rgba(0,0,0,0.75);
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.75);
  -o-box-shadow:      inset 0 1px 5px rgba(0,0,0,0.75);
  box-shadow:         inset 0 1px 5px rgba(0,0,0,0.75);
}
#ffffallback-radios label input {
  display:none;
}



#ffffallback-fonts {
  list-style: none;
  margin-top: 0;
  height: 100% !important;
  max-height: 500px;
  overflow-y: scroll;
  -moz-box-shadow:    inset 0 2px 5px black;
  -webkit-box-shadow: inset 0 2px 5px black;
  -o-box-shadow:      inset 0 2px 5px black;
  box-shadow:         inset 0 2px 5px black;
}

#ffffallback-controller ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#ffffallback-controller ::-webkit-scrollbar-track-piece  {
  background-color: #3b3b3b;
  -webkit-border-radius: 6px;
}

#ffffallback-controller ::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #666;
  -webkit-border-radius: 6px;
}

#ffffallback-controller ::-webkit-scrollbar-button:start:decrement,
#ffffallback-controller ::-webkit-scrollbar-button:end:increment  {
  height: 2px;
  display: block;
  background-color: transparent;
}

#ffffallback-fonts li {
  border-bottom:1px solid #222;
  list-style: none;
  margin: 0;
  margin-top: 1em;
  padding:0 0 1em 1em;
}

#ffffallback-fonts li b {
  display: block;
}

#ffffallback-fonts li input, #ffffallback-fonts li textarea {
  display: inline-block;
  -webkit-box-shadow: rgb(68, 68, 68) 0px 1px 0px;
  background: rgb(102, 102, 102);
  border: 1px solid black;
  border-radius:4px;
  color: rgb(204, 204, 204);
  font:normal 13px/normal Arial, sans-serif;
  padding: 5px;
  width:160px;
  margin-top:10px;
}
#ffffallback-update {
  padding:4px 9px;
  border-radius: 5px;
  border:0;
  font: bold 12px/1.5 helvetica;
  color:#444;
  background-image: -moz-linear-gradient(-90deg, #fefefe , #b7b7b7 );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( #fefefe ), to( #b7b7b7 ));
  background-image: linear-gradient(top, #fefefe, #b7b7b7);
  border: 1px solid #555;  border: 1px solid #3D3D3D;
  color:#313131;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow:;
  width:64px;
  -webkit-box-shadow: rgba(225, 225, 225, 0.4) 0px 1px 0px;
  text-shadow:#fff 0 1px 0;
  text-decoration:none;
  position: relative;
  right: -24px;
  cursor:pointer;
}
